body {
    margin: 25px 50px;
    font-family: Verdana;
    font-size: 12px;
}

h2 {
    color: SteelBlue;
}

#input {
    border: 1px solid SteelBlue;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px;
}

#button {
    font-size: 12px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: Cyan;
    color: SteelBlue;
}

#list {
    list-style: none;
    padding-left: 0;
}

:checked + label {
    text-decoration: line-through;
    color: lightgrey;
}
  